:root {
  color-scheme: light dark;
  background-color: #242424;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: -2%;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
